{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Update | Admin</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" />
  </head>
  <body>
    <div class="center">
      <h1>Update Employee</h1>
      <form method="POST" action="/Update_Employee/{{empsedit.e_id}}/">
        {% csrf_token %}
        <div>
          <div class="txt_field">
            <input type="text" value="{{empsedit.first_name}}" name="First_Name" required />
            <span></span>
            <label>First Name</label>
          </div>

          <div class="txt_field">
            <input type="text" value="{{empsedit.last_name}}" name="Last_Name" required />
            <span></span>
            <label>Last Name</label>
          </div>

          <div class="txt_field">
            <input type="" value="{{empsedit.number}}" name="Number" required />
            <span></span>
            <label>Mobile Number</label>
          </div>

          <div class="txt_field">
            <input type="email" value="{{empsedit.email}}" name="Email" required />
            <span></span>
            <label>Email Id</label>
          </div>

          <div class="txt_field">
            <input type="password" value="{{empsedit.password}}" name="Password" required />
            <span></span>
            <label>Set Password</label>
          </div>

          <div class="Submit">
            <input type="Submit"  value="add" href="/index.html" required />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
