{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{% static 'css/Forms.css' %}" />
</head>
<body>
    <div class="container">
        <Form method="post" action="/Paymentupdate/{{oedit11.pay_id}}/">
            {% csrf_token %}
            <h1>Payment</h1>
            <div>
                <div class="dropdown">
                    <label for=""style="font-size: large; color:#aaa;">Customer:</label>
                    <select name="cid" class="option">
                        {% for cp1 in cpay11 %}
                        <option value="{{cp1.c_id}}">{{cp1.first_name}}</option>
                        {%endfor%}
                    </select>
                </div><br>
                <div class="dropdown">
                    <label for=""style="font-size: large; color:#aaa;">Order:</label>
                    <select name="oid"class="option">
                        {% for op1 in opay11 %}
                        <option value="{{op1.o_id}}">{{op1.o_id}}</option>
                        {%endfor%}
                    </select>
                </div><br>
                <div class="date_field">
                    <label>Date</label>
                    <input type="date" value="{{oedit11.date}}" name="date" required>
                </div><br>
                <div class="txt_field">
                    <input type="text" value="{{oedit11.amount}}" name="amount" required>
                    <span></span>
                    <label>Total Amount</label>
                </div>
                
            </div>
            <div>
                <button type="Submit" class="Login" value="add" >Submit</button> 
    
            </div>
        </Form>
    </div>
</body>
</html>