{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="{% static 'CSS/Forms.css' %} " />
</head>
<body>
    <div class="container">
        <Form method="post" action="/Payment1/">
            {% csrf_token %}
            <h1>Payment</h1>
            <div>
                <div class="dropdown">
                    <label for=""style="font-size: large; color:#aaa;">Customer:</label>
                    <select name="cid" class="option">
                        {% for cp in cpay1 %}
                        <option value="{{cp.c_id}}">{{cp.first_name}}</option>
                        {%endfor%}
                    </select>
                </div><br>
               <br>
                <div class="dropdown">
                    <label for=""style="font-size: large; color:#aaa;">Order:</label>
                    <select name="oid" class="option">
                        {% for op in opay1 %}
                        <option value="{{op.o_id}}">{{op.total_sum}}</option>
                        {%endfor%}
                    </select>
                </div><br><br>
                <div class="date_field">
                    <label>Date</label>
                    <input type="date" name="date" required>
                </div><br>
                <div class="txt_field">
                    <input type="text" name="amount" required>
                    <span></span>
                    <label>Total Amount</label>
                </div>
                <br>
            </div>
            <div>
                <button type="Submit" class="Login"value="add" >Submit</button> 
            </div>
        </Form>
    </div>
</body>
</html>