body{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    background-position: cover;
    background-color:#103962;
    
    
  
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 640px;
    background: white;
    border-radius: 5px;
}
.center h1{
    text-align: center;
    color: black;
    padding: 5px 10px 5px 10px;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box; 
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #103962;
    margin: 40px 0;
}
.txt_field input{
    width: 100;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #103962;
    transition: .5s;
}
/* .txt_field input:focus ~ label, */
.txt_field input:valid ~ label{
    top: -5px;
    color: #103962;
}
/* .txt_field input:focus ~ span::before, */
.txt_field input:valid ~ span::before{
    width: 100%;
}
input[type="Submit"]{  
    text-align: center; 
    width: 100%;
    padding: 8px 0;
    height: 50px;
    border: 6px solid;
    background: #103962;    
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="Submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #aaa;
    border: #aaa;
}
.line::before{
    content: 'OR';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #232836;
    padding: 0 10px;
}