{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Add | Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  </head>
  <body>
<div class="Display">
  <h1 class="h1Customer">Color</h1>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-wrap">
            <section
              class="u-clearfix u-section-1"
              id="carousel_73d5"
            >
              <div class="u-clearfix u-sheet u-sheet-1">
                <div
                  class="u-expanded-width u-table u-table-responsive u-table-1"
                >
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="10%" />
                      <col width="15%" />
                      <col width="17%" />
                      <col width="17%" />
                      <col width="17%" />
                      <col width="17%" />
                      <col width="17%" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th class="u-table-cell">ID</th>
                        <th class="u-table-cell">Product</th>
                        <th class="u-table-cell">Name</th>
                        <th class="u-table-cell">Code</th>
                        <th class="u-table-cell">Options</th>
                      </tr>
                    </thead>
                    <tbody class="u-table-body">
                        {% for fatch1 in colorfatch_data1 %}
                        <tr>
                          <th scope="row">{{fatch1.color_id}}</th>
                          <td>{{fatch1.p}}</td>
                          <td>{{fatch1.name}}</td>
                          <td>{{fatch1.code}}</td>
                          <td>
                            <a
                              href="/Coloredit/{{fatch1.color_id}}/"
                              class="btn btn-warning btn-sm"
                              >Edit</a>

                            <a
                              href="/clrdelete/{{fatch1.color_id}}/"
                              class="btn btn-warning btn-sm"
                              >Delete</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</body>